# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Environment variables
.env
.env.local
.env.development
.env.production

# dependencies
node_modules/

# Expo
.expo/
.eas/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
keystore.properties
credentials.json
ios/
android/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.vscode

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
virtualDrive.bat
.vscode/
trace.txt

# typescript
*.tsbuildinfo

#Ignore vscode AI rules
.github/instructions/codacy.instructions.md

# Firebase
google-services.json
GoogleService-Info.plist

# Build artifacts
.prod_outputs/